*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    width:100%;
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1545091741-2231068f3478?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative;
    
}
.heading{
    text-transform: uppercase;
    color:rgb(252, 250, 250);
    /* background-color: black; */
    position: absolute;
    top:300px;
    left:30%;

}
.line{
    width:17%;
    height: 1px;
    border:1px white solid;
    position: absolute;
    top:370px;
    left:22%;
    float:left;
}
.line1{
    width:7%;
    height: 10px;
    border:1px white solid;
    background-color: white;
    position: absolute;
    top:367px;
    left:39%;
}
#container p{
    color: white;
    font-size: larger;
    position: absolute;
    top:400px;
    left:22%;
    right:53%;
    text-align: right;
}
#module1{
    border:1px white solid;
    width:12%;
    height: 22%;
    position: absolute;
    color: white;
    top:250px;
    left:50%;
    background-color: transparent;
    /* box-shadow: 100px 100px 80px rgba(0, 0, 0, 0.07); */
}
#module2{
    border:1px white solid;
    width:12%;
    height: 22%;
    position: absolute;
    color: white;
    top:250px;
    left:63%;
    background-color: transparent;
}
#module3{
    border:1px white solid;
    width:12%;
    height: 22%;
    position: absolute;
    color: white;
    top:422px;
    left:50%;
    background-color: transparent;
}
#module4{
    border:1px white solid;
   width:12%;
    height: 22%;
    position: absolute;
    color: white;
    top:422px;
    left:63%;
    background-color: transparent;
}
#pop1{
    width:60%;
    height: 500px;
    position: absolute;
    top:100px;
    left:20%;
    background-color: black;
    display: none;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    /* position: relative; */
}
#pop1 h1{
    color: white;
}
.img1{
    margin: 20px;
    float: left;

}
.para1{
    margin-top: 20px;
    word-spacing: 5px;
    font-size: larger;
    color: white;
}
.img2{
    margin-left: 20px;
    margin-top: 30px;
    width:43%;
    height: 200px;
}
.para2{
    font-size: larger;
    word-spacing: 5px;
    float: left;
    position:absolute;
    right: 53%;
    margin-top: 50px;
    margin-left: 15px;
    color: white;
}
.close{
    position: absolute;
    top:10px;
    left:96%;
}
.close2{
    position: absolute;
    top:10px;
    left:96%;
}
.close4, .close3{
    position: absolute;
    top:10px;
    left:96%;
}
#pop2{
    width:60%;
    height: 600px;
    position: absolute;
    top:80px;
    left:20%;
    background-color: black;
    display: none;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#pop2 h1{
    color: white;
    margin-top: 50px;
    margin-left: 10px;
}
#pop2 p{
    font-size: larger;
    word-spacing: 5px;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
    color: white;
    position: absolute;
    right:25%;
}
#pop2 img{
    float:right;
    position: absolute;
    top:100px;
    left:75%;
    width:20%;
    height: 450px;
}
#pop2 button{
    background-color: rgb(75, 75, 75);
    color: white;
    width:150px;
    height: 50px;
    position: absolute;
    top:480px;
    left:30px;
    text-align: center;
    text-transform: uppercase;
}
.anker{
    display: none;
    position:absolute;
    top:750px;
    left:1px;
    background-color: white;
    color: black;
}
#pop2 button:hover{
    background-color: grey;

}
#pop4{
    width:60%;
    height: 700px;
    position: absolute;
    top:50px;
    left:20%;
    background-color: black;
    display: none;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#pop4 h1{
    color: white;
    margin-top: 80px;
    margin-left: 40px;
    text-transform: uppercase;
}
#pop4 p{
    font-size: larger;
    word-spacing: 5px;
    /* float: left; */
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 50px;
    color: white;
    /* position: absolute;
    right:25%; */
}
.name {
    width:40%;
    height:50px;
    margin-left:40px;
    margin-top: 20px;
    background-color: rgb(67, 66, 66);
    border:1px black solid;
}
.email{
    width:40%;
    height:50px;
    margin-left:20px;
    margin:20px;
    background-color: rgb(67, 66, 66);
    border:1px black solid;
}
.message {
    width:82%;
    height:200px;
    margin-left:40px;
    margin-top: 20px;
    background-color: rgb(67, 66, 66);
    border:1px black solid;
}
 .submit{
    background-color: blue;
    color: white;
    width:15%;
    height: 40px;
    margin-left: 40px;

}
#pop3{
    width:60%;
    height:600px;
    background-color: black;
    position: absolute;
    top:50px;
    left:20%;
    display: none;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
   /* ----------------------------------------------
 * Generated by Animista on 2024-7-14 20:47:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
/* @keyframes smooth-appear{
    from{bottom:50px;}
    to{top:50px;}
} */
#pop3 h1{ 
    color: white;
    margin: 30px;
}
#pop3 p{
    color: white;
    word-spacing: 5px;
    font-size: larger;
    margin: 20px 30px 80px 30px;

}
.img_1{
    width:20%;
    height:200px;
    margin-left:65px;
    float: left;
    
}
.img_2{
    width:20%;
    height: 200px;
    margin-left: 10px;
    float: left;
    
}.img_3{
    width:20%;
    height: 200px;
    margin-left: 10px;
    float: left;
    
}
.img_4{
    width:20%;
    height: 200px;
    margin-left: 10px;
    float: left;
    
}
.circle1{
    width:2%;
    height: 2%;
    border-radius:100%;
    background-color: rgb(13, 56, 249);
    float: left;
    position: absolute;
    top:530px;
    left:47%;
}
.circle2{
    width:2%;
    height: 2%;
    border-radius:100%;
    background-color: white;
    position: absolute;
    top:530px;
    left:51%;
}
#forward{
    position: absolute;
    top:350px;
    left:3%
}
#backward{
    position: absolute;
    top:354px;
    right:4%
}
.img_11{
    width:20%;
    height:200px;
    margin-left:65px;
    display:none;
    float:left;
    
}
.img_12{
    width:20%;
    height: 200px;
    margin-left: 10px;
    display:none;
    float:left;
    
}
.img_13{
    width:20%;
    height: 200px;
    margin-left: 10px;
    display:none;
    float:left;
    
}
.img_14{
    width:20%;
    height: 200px;
    margin-left: 10px;
    display:none;
    float:left;
    
}

